<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>
    <div id="header">
    </div>
    <div id="navigation">
        <ul>
            <li> <a></a></></li>
        </ul>
    </div>
    <div id="main">
        @RenderBody()
    </div>
    <div id="footer">
        <p> Developed by Dakshina Perera and Mohamed Thasneem for Assignment 2 Part B </p>
    </div>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</body>
</html>
